mediapipe
opencv-python
numpy
fastapi
uvicorn[standard]
python-dotenv
psycopg[binary]
pydantic
scikit-learn
setuptools
cmake 
dlib 
git+https://github.com/ageitgey/face_recognition_models
face_recognition 

